*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ECF0F1;
}
#main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#my-signin2{
  margin-top: 30px;
}

a.list-group-item:hover{
  background-color: #4183D7;
  color: white;
}

h1{
  font-size: 72px;
  font-weight: bold;
}

h3{
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
